<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SEED KART ADMIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> --}}
       
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/admin/all_products">ALL PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/all_users">ALL USERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/all_sellers">ALL SELLERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/all_orders">ALL ORDERS</a>
        </li>
        
        
        {{!-- <li class="nav-item">
          <a class="nav-link" href="#">Login Out</a>
        </li> --}}
        
      </ul>
      <div class="d-flex">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{seller.name}}
            
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" href="/admin/logout">Log Out</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>