
<section>
    <div class="container">
         <div class="about-section">
    <div class="inner-container">
      <h1>About Us</h1>
      <h2>SEED KART</h2>
      <p class="text"> Seedkart is an ecommerce system where people in agriculture sector can buy and sell their goods and services. The customers can buy the products directly from the people who cultivate them using our system. Farmers are the backbone of our country, our company aims to give more profit to farmers and also encourages the use of latest technologies in farming.
 Apart from a normal ecommerce we have features like agri-blogs where people with great experience shares the latest method of farming and other topic related to farming, this encourages the youth to make a great involvement in farming sector.

</p>
      
     
      
      
     
  </div>
    </div>
    </div>
</section>
 <style>
     * {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Open Sans",sans-serif;
}

body {
  min-height: 100vh;
 display:flex;
  align-items:center;
  justify-content: center;
  background:#;
  
  
}




.about-section {
  background:url("https://images.unsplash.com/photo-1594771804886-a933bb2d609b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGFncmljdWx0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat left;;
  background-size:55%;

  background-color: #fdfdfd;;
  overflow:hidden;
  padding:100px 0;
  
}

.inner-container {
  width:55%;
  float:right;
  background:white;
  padding:150px;
}




.inner-container h1 {
  margin-bottom:30px;
  font-size:30px;
  font-weight:900;
}

.text {
  font-size:13px;
  color:#545454;
  line-height:30px;
  text-align:justify;
  margin-bottom:40px;
}


.skills {
  display: flex;
  justify-content: space-around;
  font-weight:700;
  font-size:13px;
  color:black;

}


 @media screen and (max-width:1200px){
   
   .inner-container {
     padding:80px;
   }
   
}



 @media screen and (max-width:1000px){
   
   .about-section {
     background-size:100%;
     padding:100px  40px;
   }
   
   .inner-container {
     width:100%;
   }
   
}


 @media screen and (max-width:600px){
   
   .about-section {
     padding:0;
   }
   
   .inner-container {
     padding:60px;
   }
   
   
}
 </style>